<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
	</configSections>
	<connectionStrings>
		<add name="EPaymentsContext" connectionString="Data Source=.;Initial Catalog=EPayments;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
		<add name="EPaymentsLogs" connectionString="Data Source=.;Initial Catalog=EPaymentsLogs;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--Common web settings-->
		<add key="EPayments.Common:WebAddress" value="https://localhost:44300" />
		<add key="EPayments.Common:BoricaCertificateFolder" value="C:\inetpub\EPayments.Web\Certificates\BoricaVpos" />
		<add key="EPayments.Common:FiBankCertificateFolder" value="C:\inetpub\EPayments.Web\Certificates\FiBankVpos" />
		<add key="EPayments.Common:UseMachineKeySet" value="false" />
		<add key="EPayments.Web:PortalName" value="Единен портал за електронни разплащания" />
		<add key="EPayments.Web:FeedbackEmail" value="" />
		<add key="EPayments.Web:PaymentUseMinTestAmount" value="true" />
		<add key="EPayments.Web:PaymentAllowDublicateTrackId" value="true" />
		<add key="EPayments.Web:EnableGoogleAnalyticsLogging" value="false" />
		<add key="EPayments.Web:EAuthAdminRedirect" value="http://localhost:60610/Account/EAuthLogin" />
		<add key="EPayments.Web:CreatePaymentRequest" value="http://localhost:9657/api/v1/eService/paymentJson" />
		<add key="EPayments.Web:SuspendPaymentRequest" value="http://localhost:9657/api/v1/eService/suspendRequest" />
		<add key="EPayments.Web:SetStatusPaidPaymentRequest" value="http://localhost:9657/api/v1/eService/setStatusPaid" />
		<!--Certificate settings-->
		<add key="EPayments.Web:UseFakeCertificate" value="true" />
		<add key="EPayments.Web:UseEAuthForLogin" value="true" />
		<add key="EPayments.Web:FakeCertificateBase64Data" value="" />
		<!--EAuthenticator settings-->
		<add key="EPayments.Web:EAuthSkipped" value="true" />
    <add key="EPayments.Web:EAuthIdpMetadata" value="https://eauth-test.egov.bg/tfauthbe/saml/metadata/idp" />
		<add key="EPayments.Web:EAuthEnabled" value="false" />
		<add key="EPayments.Web:EAuthMetadataUrl" value="https://eauth-test.egov.bg/SingleSignOnService" />
    <add key="EPayments.Web:EAuthRequestUrl" value="https://localhost:44300/Account/Metadata" />
    <add key="EPayments.Web:EAuthProviderId" value="2.16.100.1.1.1" />
		<add key="EPayments.Web:EAuthExtProviderId" value="2.16.100.1.1.1.1.12" />
		<add key="EPayments.Web:EAuthExtServiceId" value="2.16.100.1.1.1.1.12.3.1.1" />
		<add key="EPayments.Web:EAuthRequestSignCertificate" value="" />
		<add key="EPayments.Web:EAuthRequestSignCertificatePass" value="" />
		<add key="EPayments.Web:EAuthResponseSignCertificateThumbprint" value="" />
		<add key="EPayments.Web:EAuthResponseSignCertificateValidateExpirationDate" value="false" />
		<!--EventRegister settings-->
		<add key="EPayments.EventRegister:Enabled" value="false" />
		<!--Eid settings-->
		<add key="EPayments.Web:EidEnabled" value="true" />
		<add key="EPayments.Web:EidMoccaUrl" value="https://validation.eid.egov.bg/mocca/https-security-layer-request" />
		<add key="EPayments.Web:EidTemplateUrl" value="https://validation.eid.egov.bg/moa-id-auth/moccaTemplate.html" />
		<add key="EPayments.Web:EidStartAuthenticataionUrl" value="https://validation.eid.egov.bg/moa-id-auth/StartAuthentication" />
		<!--EMySpaceLogin settins-->
		<add key="EPayments.Web:EMySpaceAuthEnabled" value="true" />
		<add key="EPayments.Web:EMySpaceAuthSecret" value="" />
		<add key="EPayments.Web:EMySpaceAuthSecretSalt" value="" />
		<add key="EPayments.Web:EMySpaceAuthOID" value="2.17.100.1.1.1.1.14" />
		<!--EDeliveryLogin settings-->
		<add key="EPayments.Web:EDeliveryAuthEnabled" value="true" />
		<add key="EPayments.Web:EDeliveryAuthSecret" value="" />
		<!--NoiLogin settings-->
		<add key="EPayments.Web:NoiAuthEnabled" value="false" />
		<add key="EPayments.Web:NoiAuthSecretKey" value="" />
		<!--HelpDesk settings-->
		<add key="EPayments.Web:HelpDeskSubmitEnabled" value="false" />
		<add key="EPayments.Web:HelpDeskUrl" value="" />
		<add key="EPayments.Web:HelpDeskUsername" value="" />
		<add key="EPayments.Web:HelpDeskPassword" value="" />
		<add key="EPayments.Web:HelpDeskClientId" value="" />
		<add key="EPayments.Web:HelpDeskClientSecret" value="" />
		<!--FiBank VPOS settings-->
		<add key="EPayments.Web:FiBankVposMerchantHandlerUrl" value="https://mdpay-test.fibank.bg:10443/ecomm_v2/MerchantHandler" />
		<add key="EPayments.Web:FiBankVposClientHandlerUrl" value="https://mdpay-test.fibank.bg/ecomm_v2/ClientHandler" />
		<add key="EPayments.Web:FiBankVposTestIp" value="" />
		<!--EpayVpos settings-->
		<add key="EPayments.Web:EpayVposKin" value="" />
		<add key="EPayments.Web:EpayVposSecret" value="" />
		<add key="EPayments.Web:EpayVposUrl" value="" />
		<add key="EPayments.Web:EpayOK" value="https://localhost:44300/vpos/epaycheckresult?res=true" />
		<add key="EPayments.Web:EpayCancel" value="https://localhost:44300/vpos/epaycheckresult?res=false" />
		<!--CentralVpos settings-->
		<add key="EPayments.Web:CentralVposPrivateKeyPassphrase" value="" />
		<add key="EPayments.Web:CentralVposUrl" value="" />
		<add key="EPayments.Web:CentralVposDescription" value="Детайли плащане." />
		<add key="EPayments.Web:CentralVposADDENDUM" value="AD,TD" />
		<add key="EPayments.Web:CentralVposPrefixHelper" value="EP" />
		<add key="EPayments.Web:CentralVposDevTerminalId" value="" />
		<add key="EPayments.Web:CentralVposMerchantId" value="" />
		<add key="EPayments.Web:CentralVposPrivateKeyFileName" value="" />
		<add key="EPayments.Web:BorikaPublicKeyFileName" value="" />
		<!--EDelivery settings-->
		<add key="EPayments.Web:PrivateKeyPassphrase" value="" />
		<!--Other settings-->
		<add key="EPayments.Web:IsAuthPassEnabled" value="true" />
		<add key="EPayments.Web:NotificationUrlValidateSslCert" value="false" />
		<add key="EPayments.Web:SimulateVposPayment" value="false" />
		<!--Merchant settings-->
		<add key="EPayments.Web:MerchantName" value="State e-Government Agency" />
		<add key="EPayments.Web:MerchantEmail" value="" />
		<add key="EPayments.Web:MerchantUrl" value="e-gov.bg" />
		<!--System settings-->
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--FiBank settings-->
		<add key="ikvm:https.protocols" value="TLSv1,TLSv1.1,TLSv1.2" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IEDeliveryIntegrationService" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="Certificate" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<!--DeliveryTransactionRegister settings-->
			<endpoint address="https://edelivery-test.egov.bg/Services/EDeliveryIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEDeliveryIntegrationService" contract="IntegrationService.IEDeliveryIntegrationService" name="BasicHttpBinding_IEDeliveryIntegrationService" />
		</client>
	</system.serviceModel>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.5" />
		<customErrors mode="Off" />
		<!--<customErrors mode="On" defaultRedirect="~/Home/RedirectToError?id=310">
      <error statusCode="404" redirect="~/Home/RedirectToError?id=404"/>
    </customErrors>-->
		<httpHandlers>
			<add verb="GET" path="validationImage.ashx" validate="false" type="EPayments.Common.Captcha.CaptchaImageHandler, EPayments.Common" />
		</httpHandlers>
		<sessionState mode="InProc" timeout="30" />
	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
				</rule>
			</rules>
		</rewrite>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<handlers>
			<add name="CaptchaImageHandler" verb="GET" path="validationImage.ashx" type="EPayments.Common.Captcha.CaptchaImageHandler, EPayments.Common" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="RazorEngine" publicKeyToken="9EE697374C7E744A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.9.3.0" newVersion="3.9.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<extensions>
			<add prefix="custom" assembly="EPayments.Common" />
			<add assembly="NLog.Extended" />
		</extensions>
		<targets>
			<target name="databaseInfoLog" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
				<target xsi:type="Database" dbProvider="System.Data.SqlClient" connectionStringName="EPaymentsLogs">
					<commandText>
						insert into dbo.PortalInfoLogs ([Level], [LogDate], [IP], [RawUrl], [Form], [UserAgent], [SessionId], [RequestId], [Message]) values (@level, GETDATE(), @ip, @rawUrl, @form, @userAgent, @sessionId, @requestId, @message);
					</commandText>
					<parameter name="@level" layout="${level}" />
					<parameter name="@ip" layout="${aspnet-request:serverVariable=REMOTE_ADDR}" />
					<parameter name="@rawUrl" layout="${aspnet-request:serverVariable=URL}?${aspnet-request:serverVariable=QUERY_STRING}" />
					<parameter name="@form" layout="${custom.requestFormPairs}" />
					<parameter name="@userAgent" layout="${aspnet-request:serverVariable=HTTP_USER_AGENT}" />
					<parameter name="@sessionId" layout="${aspnet-sessionid}" />
					<parameter name="@requestId" layout="${custom.requestId}" />
					<parameter name="@message" layout="${message} ${exception:format=tostring}" />
				</target>
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="databaseInfoLog" />
		</rules>
	</nlog>
</configuration>