<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<connectionStrings>
		<add name="EPaymentsContext" connectionString="Data Source=.;Initial Catalog=EPayments;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
		<add name="EPaymentsLogs" connectionString="Data Source=.;Initial Catalog=EPaymentsLogs;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--Common web settings-->
		<add key="EPayments.Common:WebAddress" value="https://localhost:44300" />
		<add key="EPayments.Common:BoricaCertificateFolder" value="C:\inetpub\EPayments.Web\Certificates\BoricaVpos" />
		<add key="EPayments.Common:FiBankCertificateFolder" value="C:\inetpub\EPayments.Web\Certificates\FiBankVpos" />
		<add key="EPayments.Common:UseMachineKeySet" value="true" />
		<add key="EPayments.Job.Host:BoricaRetryPeriodInSeconds" value="30"/>
		<add key="EPayments.Job.Host:BoricaRetryCount" value="3"/>
		<!--EmailJob settings-->
		<add key="EPayments.Job.Host:EmailJobEnabled" value="false" />
		<add key="EPayments.Job.Host:EmailJobUseTestGmailServer" value="true" />
		<add key="EPayments.Job.Host:EmailJobSender" value="noreply@egov.bg" />
		<add key="EPayments.Job.Host:EmailJobMailServer" value="" />
		<add key="EPayments.Job.Host:EmailJobPeriodInSeconds" value="30" />
		<add key="EPayments.Job.Host:EmailJobBatchSize" value="1000" />
		<add key="EPayments.Job.Host:EmailJobParallelTasks" value="10" />
		<add key="EPayments.Job.Host:EmailJobMaxFailedAttempts" value="5" />
		<add key="EPayments.Job.Host:EmailJobFailedAttemptTimeoutInMinutes" value="10" />
		<!--EserviceNotificationJob settings-->
		<add key="EPayments.Job.Host:EserviceNotificationJobEnabled" value="false" />
		<add key="EPayments.Job.Host:EserviceNotificationJobPeriodInSeconds" value="30" />
		<add key="EPayments.Job.Host:EserviceNotificationJobBatchSize" value="1000" />
		<add key="EPayments.Job.Host:EserviceNotificationJobParallelTasks" value="10" />
		<!--EventRegisterNotificationJob settings-->
		<add key="EPayments.Job.Host:EventRegisterNotificationJobEnabled" value="false" />
		<add key="EPayments.Job.Host:EventRegisterNotificationJobPeriodInSeconds" value="60" />
		<add key="EPayments.Job.Host:EventRegisterNotificationJobAdminOID" value="2.16.100.1.1.1" />
		<add key="EPayments.Job.Host:EventRegisterNotificationJobAdminLegalName" value="МТИТС" />
		<add key="EPayments.Job.Host:EventRegisterNotificationJobServiceOID" value="2.16.100.1.1.1.1.13.1.1.1" />
		<add key="EPayments.Job.Host:EventRegisterNotificationJobSPOID" value="2.16.100.1.1.1.1.13" />
		<add key="EPayments.Job.Host:EventRegisterNotificationJobSPName" value="Система за електронно връчване" />
		<add key="EPayments.Job.Host:EventRegisterNotificationJobInformationSystemOID" value="2.16.100.1.1.1.1.13" />
		<add key="EPayments.Job.Host:EventRegisterNotificationJobValidateSslCert" value="false" />
		<!--ExpiredRequestJob settings-->
		<add key="EPayments.Job.Host:ExpiredRequestJobEnabled" value="false" />
		<add key="EPayments.Job.Host:ExpiredRequestJobPeriodInSeconds" value="60" />
		<add key="EPayments.Job.Host:ExpiredRequestJobFeedbackEmail" value="testepaymentsdaeu@gmail.com" />
		<!--ProcessTransactionFilesJob settings-->
		<add key="EPayments.Job.Host:ProcessTransactionFilesJobEnabled" value="false" />
		<add key="EPayments.Job.Host:ProcessTransactionFilesJobPeriodInSeconds" value="300" />
		<!--UnprocessedVposRequestsJob settings-->
		<add key="EPayments.Job.Host:UnprocessedVposRequestsJobEnabled" value="false" />
		<add key="EPayments.Job.Host:UnprocessedVposRequestsJobPeriodInMinutes" value="2" />
		<add key="EPayments.Job.Host:UnprocessedVposRequestsJobFiBankMaxFailedAttempts" value="100" />
		<add key="EPayments.Job.Host:UnprocessedVposRequestsJobFiBankFailedAttemptTimeoutInMinutes" value="60" />
		<add key="EPayments.Job.Host:UnprocessedVposRequestsJobFibankRequestTimeoutInMinutes" value="10" />
		<add key="EPayments.Job.Host:UnprocessedVposRequestsJobFiBankVposMerchantHandlerUrl" value="https://mdpay-test.fibank.bg:10443/ecomm_v2/MerchantHandler" />
		<!-- EDeliveryNotificationJob settings -->
		<add key="EPayments.Job.Host:EDeliveryNotificationJobEnabled" value="false" />
		<add key="EPayments.Web:EDeliveryCertificateName" value="" />
		<add key="EPayments.Web:PrivateDeliveryKeyPassphrase" value="" />
		<add key="EPayments.Web:PrivateDeliveryUseProduction" value="false" />
		<add key="EPayments.Job.Host:EDeliveryNotificationJobPeriodInSeconds" value="30" />
		<add key="EPayments.Job.Host:EDeliveryNotificationJobBatchSize" value="100" />
		<add key="EPayments.Job.Host:EDeliveryNotificationJobParallelTasks" value="10" />
		<add key="EPayments.Job.Host:EDeliveryNotificationJobServiceOID" value="2.16.100.1.1.1.1.13.1.1.1" />
		<add key="EPayments.Job.Host:EDeliveryNotificationJobSPName" value="Система за електронно връчване" />
		<add key="EPayments.Job.Host:EDeliveryNotificationJobInformationSystemOID" value="2.16.100.1.1.1.1.13" />
		<add key="EPayments.Job.Host:EDeliveryNotificationJobValidateSslCert" value="false" />
		<add key="EPayments.Job.Host:EDeliveryNotificationJobMaxFailedAttempts" value="3" />
		<add key="EPayments.Job.Host:EDeliveryNotificationTimeoutInMinutes" value="10" />
		<!-- EDeliveryNotificationJob mesages -->
		<add key="EPayments.Job.Host:PaymentAisClientRequestCreated" value="Във връзка със заявено от Вас задължение с референтен номер {0}, Ви уведомяваме, че то е регистрирано в Системата за електронно плащане с номер {1} на дата {2}, сумата на задължението е {3} лв. При необходимост от допълнителна информация можете да проверите профила си в Системата за електронно плащане или да се свържете с Помощния контактен център на ДАЕУ на тел. 070020341. Това съобщение e изпратено от Системата за еФорми, като част от процеса по заявяване, заплащане и предоставяне на електронни административни услуги и не е необходимо да отговаряте." />
		<add key="EPayments.Job.Host:PaymentApplicantRequestCreated" value="По заявената от Вас услуга с Уникален идентификационен номер {0} от дата {1} към {2} дължите сума в размер на {3} лева. Заявената сума можете да видите в средата за електронно плащане {4} и да я заплатите чрез удобен за Вас платежен инструмент. Достъп до средата за електронно плащане можете да осъществите и чрез код за плащане {5}. Ако вече сте заплатили посочената по-горе заявена сума, не е необходимо да предприемате допълнителни действия. При необходимост от допълнителна информация не се колебайте да се свържете с нас на телефон  0700 20 341. Това съобщение e изпратено от Системата за еФорми, като част от процеса по заявяване, заплащане и предоставяне на електронни административни услуги и не е необходимо да отговаряте." />
		<add key="EPayments.Job.Host:PaymentRequestAisClientShared" value="Във връзка със заявено от Вас задължение с референтен номер {0} и регистрирано в Системата за електронно плащане с номер {1} на дата {2}, Ви уведомяваме, че на {3} задължението е с променен статус '{4}' в размер на {5} лв. и е издаден код за плащане '{6}'. При необходимост от допълнителна информация можете да проверите профила си в Системата за електронно плащане или да се свържете с Помощния контактен център на ДАЕУ на тел. 070020341. Това съобщение e изпратено от Системата за еФорми, като част от процеса по заявяване, заплащане и предоставяне на електронни административни услуги и не е необходимо да отговаряте." />
		<add key="EPayments.Job.Host:PaymentRequestApplicantClientShared" value="Във връзка със създадено за Вас задължение с уникален номер {0}, Ви уведомяваме, че в Системата за електронно плащане на {1} е с променен статус '{2}' в размер на {3} лв. и е издаден код за плащане '{4}'. Можете да прегледате задължението на адрес {5} или да се свържете с Помощния контактен център на ДАЕУ на тел. 070020341. Това съобщение e изпратено от Системата за еФорми, като част от процеса по заявяване, заплащане и предоставяне на електронни административни услуги и не е необходимо да отговаряте." />
		<add key="EPayments.Job.Host:PaymentRequestAisClientObligationStatusChanged" value="Във връзка със заявено от Вас задължение с референтен номер {0} и регистрирано в Системата за електронно плащане с номер {1} на дата {2}, Ви уведомяваме на {3}, че задължението е с променен статус '{4}'. При необходимост от допълнителна информация можете да проверите профила си в Системата за електронно плащане или да се свържете с Помощния контактен център на ДАЕУ на тел. 070020341. Това съобщение e изпратено от Системата за еФорми, като част от процеса по заявяване, заплащане и предоставяне на електронни административни услуги и не е необходимо да отговаряте." />
		<add key="EPayments.Job.Host:PaymentRequestApplicantObligationStatusChanged" value="Във връзка със създадено за Вас задължение с уникален номер {0} на дата {1}, Ви уведомяваме, че в Системата за електронно плащане на {2}, че задължението е с променен статус '{3}', на стойност {4} лв. Можете да прегледате задължението си на адрес {5} или да се свържете с Помощния контактен център на ДАЕУ на тел. 070020341. Това съобщение e изпратено от Системата за еФорми, като част от процеса по заявяване, заплащане и предоставяне на електронни административни услуги и не е необходимо да отговаряте." />
		<add key="EPayments.Job.Host:PaymentRequestAisClientObligationStatusCanceled" value="Във връзка със създадено от Вас задължение с референтен номер {0} и регистрирано в Системата за електронно плащане с номер {1} на дата {2}, Ви уведомяваме, че на {3} задължението е с променен статус '{4}'. При необходимост от допълнителна информация можете да проверите профила си в Системата за електронно плащане или да се свържете с Помощния контактен център на ДАЕУ на тел. 070020341. Това съобщение e изпратено от Системата за еФорми, като част от процеса по заявяване, заплащане и предоставяне на електронни административни услуги и не е необходимо да отговаряте." />
		<add key="EPayments.Job.Host:PaymentRequestApplicantObligationStatusCanceled" value="Ваше задължение с уникален номер {0} на дата {1} е с променен статус '{2}' на дата {3}, в Системата за електронно плащане. Можете да прегледате другите си задълженията на адрес {4} или да се свържете с Помощния контактен център на ДАЕУ на тел. 070020341. Това съобщение e изпратено от Системата за еФорми, като част от процеса по заявяване, заплащане и предоставяне на електронни административни услуги и не е необходимо да отговаряте." />
		<!-- CVPostTransactionJob settings -->
		<add key="EPayments.Job.Host:CVPosTransactionJobEnabled" value="false" />
		<add key="EPayments.Job.Host:CVPosTransactionJobPeriodInMinutes" value="10" />
		<add key="EPayments.Job.Host:CVPosTransactionJobMaxFailedAttempts" value="10" />
		<add key="EPayments.Job.Host:CVPosTransactionJobTimeoutInMinutes" value="1" />
		<add key="EPayments.Job.Host:CVPosTransactionJobFailedAttemptTimeoutInMinutes" value="10" />
		<add key="EPayments.Job.Host:CVPosTransactionJobTimeoutInMinutes" value="10" />
		<add key="EPayments.Job.Host:CVPosTransactionJobTimeoutBetweenRequestsInMilliseconds" value="2000" />
		<add key="EPayments.Job.Host:CVPosTransactionJobAgency" value="EGV" />
		<add key="EPayments.Job.Host:CVPosTransactionJobEvent" value="S" />
		<add key="EPayments.Job.Host:CVPosTransactionJobTestMode" value="false" />
		<add key="EPayments.Job.Host:CVPosTransactionJobStartTime" value="16:00" />
		<add key="EPayments.Web:CentralVposDevTerminalId" value="" />
		<add key="EPayments.Web:CentralVposPrivateKeyPassphrase" value="" />
		<add key="EPayments.Job.Host:CVPosTransactionJobBatchSize" value="1000" />
		<add key="EPayments.Web:CentralVposPrivateKeyFileName" value="" />
		<add key="EPayments.Web:CentralVposPrefixHelper" value="EP" />
		<add key="EPayments.Web:BorikaPublicKeyFileName" value="" />
		<add key="EPayments.Job.Host:CentralVposPrivateKeyFileName" value=""/>
		<add key="EPayments.Job.Host:CentralVposPrivateKeyPassphrase" value=""/>
		<!-- CVPostTransactionFixJob settings -->
		<add key="EPayments.Job.Host:CVPosTransactionFixJobEnabled" value="false" />
		<add key="EPayments.Job.Host:CVPosTransactionFixJobPeriodInMinutes" value="10" />
		<add key="EPayments.Job.Host:CVPosTransactionFixJobMaxFailedAttempts" value="10" />
		<add key="EPayments.Job.Host:CVPosTransactionFixJobFailedAttemptTimeoutInMinutes" value="10" />
		<add key="EPayments.Job.Host:CVPosTransactionFixJobTimeoutBetweenRequestsInMilliseconds" value="2000" />
		<add key="EPayments.Job.Host:CVPosTransactionFixJobAgency" value="EGV" />
		<add key="EPayments.Job.Host:CVPosTransactionFixJobEvent" value="S" />
		<add key="EPayments.Job.Host:CVPosTransactionFixJobTestMode" value="false" />
		<add key="EPayments.Job.Host:CVPosTransactionFixJobStartTime" value="00:00" />
		<add key="EPayments.Job.Host:CVPosTransactionFixJobBatchSize" value="1000" />
		<add key="EPayments.Job.Host:CVPosTransactionFixJobStartDate" value="01.05.2020" />
		<add key="EPayments.Job.Host:CVPosTransactionFixJobEndDate" value="20.5.2023" />
		<!--DistributionJob settings-->
		<add key="EPayments.Job.Host:DistributionJobEnabled" value="false" />
		<add key="EPayments.Job.Host:DistributionJobPeriodInMinutes" value="10" />
		<add key="EPayments.Job.Host:DistributionTransactionsToTake" value="1000" />
		<add key="EPayments.Job.Host:DistributionJobItemsToTake" value="10" />
		<add key="EPayments.Job.Host:DistributionJobParentEserviceClient" value="1168" />

		<add key="EPayments.Job.Host:DistributionBulstat" value="" />
		<add key="EPayments.Job.Host:DistributionIban" value="" />
		<add key="EPayments.Job.Host:DistributionBICCode" value="" />
		<add key="EPayments.Job.Host:DistributionSenderName" value="" />
		<add key="EPayments.Job.Host:SchemasDirectory" value="C:\Projects\DAEU-Bitbucket\EPayments.Job.Host\Schemas" />
		<add key="EPayments.Job.Host:DistributionXmlDirectory" value="C:\Projects\DAEU-Bitbucket\EPayments.Job.Host\Xml" />
		<add key="EPayments.Job.Host:XsdFileName" value="BNB.xsd" />
		<add key="EPayments.Job.Host:Vpn" value="" />
		<add key="EPayments.Job.Host:Vd" value="" />
		<add key="EPayments.Job.Host:FirstDescription" value="Разпределение" />
		<add key="EPayments.Job.Host:SecondDescription" value="Разпределение" />
		<add key="EPayments.Job.Host:StartTime" value="17:00" />

		<!--BoricaUnprocessedRequestsJob-->
		<add key="EPayments.Job.Host:BoricaUnprocessedRequestsJobPeriodInMinutes" value="8" />
		<add key="EPayments.Job.Host:BoricaUnprocessedRequestsTransactionsToTake" value="100" />
		<add key="EPayments.Job.Host:BoricaUnprocessedRequestsWaitAfterEachRequestSeconds" value="2" />
		<add key="EPayments.Job.Host:BoricaUnprocessedRequestsLimitTimeSpanInMinutes" value="30" />
		<add key="EPayments.Job.Host:BoricaUnprocessedRequestsEnabled" value="true" />
		<add key="EPayments.Job.Host:BoricaFinalLimitInHours" value="24" />

		<add key="EPayments.Web:CentralVposPrivateKeyPassphrase" value="" />
		<add key="EPayments.Web:CentralVposUrl" value="https://3dsgate-dev.borica.bg/cgi-bin/cgi_link" />
		<!--System settings-->
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="owin:appStartup" value="EPayments.Job.Host.Startup, EPayments.Job.Host" />
		<add key="owin:AutomaticAppStartup" value="false" />
		<!--FiBank settings-->
		<add key="ikvm:https.protocols" value="TLSv1,TLSv1.1,TLSv1.2" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="NapWSPortBinding">
					<security mode="Transport">
						<transport clientCredentialType="Certificate" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IEDeliveryIntegrationService" messageEncoding="Mtom" closeTimeout="00:03:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="Certificate" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_IEDeliveryIntegrationService2" messageEncoding="Mtom" closeTimeout="00:03:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="Certificate" />
					</security>
				</binding>
				<binding name="BGeGovEventsServicesSoapBinding">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<!--DeliveryRegister settings-->
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="NapWSPortBinding" contract="CVPosService.NapWS" name="NapWSPort" />
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEDeliveryIntegrationService" contract="EDeliveryClient.IEDeliveryIntegrationService" name="BasicHttpBinding_IEDeliveryIntegrationService" />
			<endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEDeliveryIntegrationService2" contract="EDeliveryProductionClient.IEDeliveryIntegrationService" name="BasicHttpBinding_IEDeliveryIntegrationService2" />
			<!--EventRegister settings-->
			<!--
        <endpoint address="https://auditlog.egov.bg:9446/auditLog/RegisterEventSOAPPort" binding="basicHttpBinding" bindingConfiguration="BGeGovEventsServicesSoapBinding" contract="EventRegisterService.RegisterEventSOAPPort" name="RegisterEventSOAPPortImplPort" />-->
		</client>
	</system.serviceModel>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<handlers>
			<clear />
			<add name="Owin" verb="*" path="*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="databaseEmailJobLog" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
				<target xsi:type="Database" dbProvider="System.Data.SqlClient" connectionStringName="EPaymentsLogs">
					<commandText>
						insert into dbo.EmailJobLogs ([Level], [Message], [LogDate]) values (@level, @message, GETDATE());
					</commandText>
					<parameter name="@level" layout="${level}" />
					<parameter name="@message" layout="${message} ${exception:format=tostring}" />
				</target>
			</target>
			<target name="databaseEserviceNotificationJobLog" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
				<target xsi:type="Database" dbProvider="System.Data.SqlClient" connectionStringName="EPaymentsLogs">
					<commandText>
						insert into dbo.EserviceNotificationJobLogs ([Level], [Message], [LogDate]) values (@level, @message, GETDATE());
					</commandText>
					<parameter name="@level" layout="${level}" />
					<parameter name="@message" layout="${message} ${exception:format=tostring}" />
				</target>
			</target>
			<target name="databaseEventRegisterNotificationJobLog" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
				<target xsi:type="Database" dbProvider="System.Data.SqlClient" connectionStringName="EPaymentsLogs">
					<commandText>
						insert into dbo.EventRegisterNotificationJobLogs ([Level], [Message], [LogDate]) values (@level, @message, GETDATE());
					</commandText>
					<parameter name="@level" layout="${level}" />
					<parameter name="@message" layout="${message} ${exception:format=tostring}" />
				</target>
			</target>
			<target name="databaseExpiredRequestJobLog" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
				<target xsi:type="Database" dbProvider="System.Data.SqlClient" connectionStringName="EPaymentsLogs">
					<commandText>
						insert into dbo.ExpiredRequestJobLogs ([Level], [Message], [LogDate]) values (@level, @message, GETDATE());
					</commandText>
					<parameter name="@level" layout="${level}" />
					<parameter name="@message" layout="${message} ${exception:format=tostring}" />
				</target>
			</target>
			<target name="databaseProcessTransactionFilesJobLog" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
				<target xsi:type="Database" dbProvider="System.Data.SqlClient" connectionStringName="EPaymentsLogs">
					<commandText>
						insert into dbo.ProcessTransactionFilesJobLogs ([Level], [Message], [LogDate]) values (@level, @message, GETDATE());
					</commandText>
					<parameter name="@level" layout="${level}" />
					<parameter name="@message" layout="${message} ${exception:format=tostring}" />
				</target>
			</target>
			<target name="databaseUnprocessedVposRequestsJobLog" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
				<target xsi:type="Database" dbProvider="System.Data.SqlClient" connectionStringName="EPaymentsLogs">
					<commandText>
						insert into dbo.UnprocessedVposRequestsJobLogs ([Level], [Message], [LogDate]) values (@level, @message, GETDATE());
					</commandText>
					<parameter name="@level" layout="${level}" />
					<parameter name="@message" layout="${message} ${exception:format=tostring}" />
				</target>
			</target>
			<target name="databaseBoricaDistributionJobLog" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
				<target xsi:type="Database" dbProvider="System.Data.SqlClient" connectionStringName="EPaymentsLogs">
					<commandText>
						insert into dbo.DistributionJobLogs ([Level], [Message], [LogDate]) values (@level, @message, GETDATE());
					</commandText>
					<parameter name="@level" layout="${level}" />
					<parameter name="@message" layout="${message} ${exception:format=tostring}" />
				</target>
			</target>
			<target name="databasecVPosTransactionJobLogger" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
				<target xsi:type="Database" dbProvider="System.Data.SqlClient" connectionStringName="EPaymentsLogs">
					<commandText>
						insert into dbo.CVPosTransactionJobLogs ([Level], [Message], [LogDate]) values (@level, @message, GETDATE());
					</commandText>
					<parameter name="@level" layout="${level}" />
					<parameter name="@message" layout="${message} ${exception:format=tostring}" />
				</target>
			</target>
			<target name="databasecVPosTransactionFixJobLogger" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
				<target xsi:type="Database" dbProvider="System.Data.SqlClient" connectionStringName="EPaymentsLogs">
					<commandText>
						insert into dbo.CVPosTransactionFixJobLogs ([Level], [Message], [LogDate]) values (@level, @message, GETDATE());
					</commandText>
					<parameter name="@level" layout="${level}" />
					<parameter name="@message" layout="${message} ${exception:format=tostring}" />
				</target>
			</target>
			<target name="databaseBoricaUnprocessedRequestsJobLogs" xsi:type="AsyncWrapper" queueLimit="100000" overflowAction="Discard" timeToSleepBetweenBatches="100" batchSize="100">
				<target xsi:type="Database" dbProvider="System.Data.SqlClient" connectionStringName="EPaymentsLogs">
					<commandText>
						insert into dbo.BoricaUnprocessedRequestsJobLogs ([Level], [Message], [LogDate]) values (@level, @message, GETDATE());
					</commandText>
					<parameter name="@level" layout="${level}" />
					<parameter name="@message" layout="${message} ${exception:format=tostring}" />
				</target>
			</target>
		</targets>
		<rules>
			<logger name="emailJobLogger" minlevel="Trace" writeTo="databaseEmailJobLog" />
			<logger name="eserviceNotificationJobLogger" minlevel="Trace" writeTo="databaseEserviceNotificationJobLog" />
			<logger name="eventRegisterNotificationJobLogger" minlevel="Trace" writeTo="databaseEventRegisterNotificationJobLog" />
			<logger name="expiredRequestJobLogger" minlevel="Trace" writeTo="databaseExpiredRequestJobLog" />
			<logger name="processTransactionFilesJobLogger" minlevel="Trace" writeTo="databaseProcessTransactionFilesJobLog" />
			<logger name="unprocessedVposRequestsJobLogger" minlevel="Trace" writeTo="databaseUnprocessedVposRequestsJobLog" />
			<logger name="boricaDistributionJobLogger" minlevel="Trace" writeTo="databaseBoricaDistributionJobLog" />
			<logger name="emailJobLogger" minlevel="Trace" writeTo="databaseEmailJobLog" />
			<logger name="eserviceNotificationJobLogger" minlevel="Trace" writeTo="databaseEserviceNotificationJobLog" />
			<logger name="eventRegisterNotificationJobLogger" minlevel="Trace" writeTo="databaseEventRegisterNotificationJobLog" />
			<logger name="expiredRequestJobLogger" minlevel="Trace" writeTo="databaseExpiredRequestJobLog" />
			<logger name="processTransactionFilesJobLogger" minlevel="Trace" writeTo="databaseProcessTransactionFilesJobLog" />
			<logger name="unprocessedVposRequestsJobLogger" minlevel="Trace" writeTo="databaseUnprocessedVposRequestsJobLog" />
			<logger name="cVPosTransactionJobLogger" minlevel="Trace" writeTo="databasecVPosTransactionJobLogger" />
			<logger name="cVPosTransactionFixJobLogger" minlevel="Trace" writeTo="databasecVPosTransactionFixJobLogger" />
			<logger name="boricaUnprocessedRequestsJobLogger" minlevel="Warn" writeTo="databaseBoricaUnprocessedRequestsJobLogs" />
		</rules>
	</nlog>
</configuration>