<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false" />
        <httpErrors errorMode="Custom">
            <error statusCode="403" subStatusCode="7" path="/Home/RedirectToError?isIisError=true&amp;id=101" responseMode="ExecuteURL" />  <!--Client certificate required. You do not have a valid client certificate installed.-->
            <error statusCode="403" subStatusCode="16" path="/Home/RedirectToError?isIisError=true&amp;id=102" responseMode="ExecuteURL" /> <!--Client certificate is untrusted or invalid.-->
            <error statusCode="403" subStatusCode="13" path="/Home/RedirectToError?isIisError=true&amp;id=103" responseMode="ExecuteURL" /> <!--Client certificate revoked.-->
            <error statusCode="403" subStatusCode="17" path="/Home/RedirectToError?isIisError=true&amp;id=104" responseMode="ExecuteURL" /> <!--Client certificate has expired or is not yet valid.-->
            <!--Other 403 IIS SSL Error.-->
            <error statusCode="403" subStatusCode="1" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.1" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="2" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.2" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="3" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.3" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="4" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.4" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="5" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.5" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="6" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.6" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="8" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.8" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="9" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.9" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="10" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.10" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="11" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.11" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="12" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.12" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="14" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.14" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="15" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.15" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="18" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.18" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="19" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.19" responseMode="ExecuteURL" />
            <error statusCode="403" subStatusCode="20" path="/Home/RedirectToError?isIisError=true&amp;id=110-403.10" responseMode="ExecuteURL" />
        </httpErrors>
        <security></security>
  </system.webServer>
</configuration>

