@model System.String
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Blank</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="content-language" content="bulgarian" />
</head>
<body>
    <div style="width: 750px; margin-left: 80px;">
        <br />
        <br />
        @Raw(Model)
    </div>
</body>
</html>
