@model System.String
@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="bg" />
    <meta name="description" xml:lang="bg" content="" />
    <meta name="keywords" xml:lang="bg" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
</head>
<body>
    <div style="background-color: #FFFFFF; width: 700px; height: auto; -o-box-shadow: 0px 0px 17px #969696; -moz-box-shadow: 0px 0px 17px #969696; -webkit-box-shadow: 0px 0px 17px #969696;">
        @Html.Raw(Model)
    </div>
</body>
</html>

<script type="text/javascript">
    window.print();
</script>

