@{
    ViewBag.Title = "За системата";
}

<div class="container main-content">

    <h1>За системата</h1>
    <h2>Портал за електронни плащания и среда за електронни плащания към доставчици на електронни административни услуги</h2>
    <p style="text-align: justify;">Порталът за електронни плащания представлява уеб базирано приложение, чрез което получателите на електронни административни услуги могат да получат достъп до Средата за електронни плащания към доставчици на електронни административни услуги. Средата за електронни плащания регистрира всички електронни плащания, свързани с предоставяне на електронни административни услуги, създава електронни платежни документи и осигурява възможност за плащането им по избран от потребителите (гражданите и бизнеса) начин.</p>
    <p style="text-align: justify;">
        Чрез Средата потребителите могат да извършват плащания като избират измежду  различни канали за достъп и начини за извършване на плащането:
        <ul class="ticks">
            <li>с помощта на лично или фирмено електронно банкиране;</li>
            <li>на гише в избрана от потребителя банка;</li>
            <li>с помощта на кредитна или дебитна карта, ако администрацията, предоставяща електронната услугата, има сключен договор за предоставяне на услугата виртуален ПОС терминал;</li>
            <li>мобилни плащания (ако избраната от потребителя банка предоставя такова).</li>
        </ul>
    </p>
    <p style="text-align: justify;">След като наредените суми (такси и други плащания) постъпят по сметка на съответната администрация – доставчик на услугата, банката, обслужваща администрацията, уведомява Средата автоматично по електронен път за извършеното плащане. Веднага след това, отново автоматично по електронен път, Средата уведомява информационната система на доставчика на административната услуга, че плащането е извършено и безпрепятствено може да се осъществи процесът по предоставяне на съответната услуга.</p>
    <p style="text-align: justify;">Основна цел на системата и на проекта е да се автоматизира онази част от процеса по предоставяне на електронни административни услуги, която е пряко свързана с плащанията, като по този начин ще се намали значително времето, необходимо за предоставянето на услугата, и ще се избягват грешки, предизвикани от човешка намеса.</p>
    <p style="text-align: justify;">В момента без използването на настоящата информационна система всички действия по обработката на постъпили плащания, тяхното отбелязване в информационните системи на администрациите и уведомяване на съответните служители за постъпилото плащане, се извършват ръчно от служители на съответната администрация, което, от своя страна, е предпоставка за грешки и забавено изпълнение на услугите.</p>
    <p style="text-align: justify;">Системата е изцяло уеб базирана и за работа с нея е необходим единствено уеб браузър. Достъпът до системата се осъществява чрез квалифициран електронен подпис, Код за плащане или след пренасочване в автоматичен режим от някоя друга информационна система. Системата не предоставя достъп с потребителско име и парола и не използва такъв вид регистрация. Допълнителни технически подробности може да намерите в раздел „@Html.ActionLink("Помощ", MVC.Home.ActionNames.Help, MVC.Home.Name, null, new { style = "color: #0097e5; text-decoration: none" })”.</p>
    <p style="text-align: justify;">Ще се радваме, ако системата е удобна за работа и успява да Ви спести време и усилия. Ако имате препоръки за подобряването й или въпроси, може да използвате страницата за @Html.ActionLink("Обратна връзка", MVC.Home.ActionNames.Feedback, MVC.Home.Name, null, new { style = "color: #0097e5; text-decoration: none" }), а ние ще се опитаме най-бързо и точно да отговорим на всички Ваши запитвания.</p>
    <p style="text-align: justify;">Системата е разработена по проект: „Надграждане на съществуващите и изграждане на нови централни системи на електронното правителство с оглед на усъвършенстване на информационно-комуникационната среда за по-добро административно обслужване на гражданите и бизнеса” с регистрационен номер на договора № К13-32-1/30.9.2013 г. Проектът се осъществява с финансовата подкрепа на Оперативна програма „Административен капацитет” и се финансира от Европейския социален фонд и държавния бюджет на Република България.</p>
    <p style="text-align: justify;">Договорът е сключен в изпълнение на обществена поръчка с предмет: „Надграждане на системата за електронни разплащания към централната и местна администрация, чрез разработване на единна входна точка за използване на наличните инструменти за плащане в Р. България и разработване на услуга за удостоверяване на време“.</p>

    <p style="text-align: justify;"><strong>Възложител:</strong> Министерство на електронното управление</p>

    <div>
        <img style="float: left;" src="@Links.Content.images.icons.ico_tree_gif" />
        <span style="color: #1f8f00; float: left; vertical-align: bottom; display: inline-block;"><p>Моля, не отпечатвайте на хартия документи от системата, освен ако наистина е необходимо.</p></span>
    </div>
</div>
