@{ ViewBag.Title = "Информация за разработчици"; }

<div class="container main-content department">
    <div>
        <h1 class="administracia">&nbsp;&nbsp;&nbsp;Информация за разработчици</h1>
    </div>
    <div><b>&nbsp;&nbsp;Интеграция на административни информационни системи на държавната администрация с Единната входна точка за електронни плащания</b><br /></div>
    <div class="developers-links-container">
        <div class="developers-links">
            <section>
                <a href="https://git.egov.bg/daeu/pay-egov/N77-16.10.2020/-/tree/main/Integration%20Documents" target="_blank">&nbsp;&nbsp;Детайлна техническа спецификация за осъщестявяване на интеграция</a><br />
            </section>
            <section>
                <a href="https://git.egov.bg/daeu/pay-egov/N77-16.10.2020" target="_blank">Схеми за интеграция</a><br />
            </section>
            <section>
                <a href="https://pay-test.egov.bg" target="_blank">Уеб сайт на Портал за електронни плащания в тестова среда</a><br />
            </section>
            <section>
                <a href="https://pay.egov.bg" target="_blank">Уеб сайт на Портал за електронни плащания в реална среда</a>
            </section>
        </div>
    </div>
</div>
<!-- -->
