@{
    ViewBag.Title = "Включени в МДТ доставчици";
}

<div class="container main-content">
    <div class="text-align-center">
        <h1 class="administracia">&nbsp;&nbsp;Общини, включени в Местни данъци и такси</h1>
    </div>
    <span style="font-size: 16px;"><p><strong>Списък на общините, предоставящи заплащане на местни данъци и такси</span></p></strong>
    <div style="text-align: justify;">
        <p style="text-align: justify;">Доставчиците на електронни услуги е необходимо да са включени в Системата за електронни плащания. </p>
    </div>
    <div class="administracia" style="margin-top: 40px;">



        @*NEW ADMINISTRATIONS*@

		<div class="item">
            <div class="desc">
                <span class="title">Община Антон</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Асеновград</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Баните</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Белене</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Белоградчик</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Бобовдол</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Борован</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Братя Даскалови</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Брегово</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Брезник</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Бургас</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Бяла Слатина</span>
            </div>
        </div>
		
		<div class="item">
            <div class="desc">
                <span class="title">Община Велинград</span>
            </div>
        </div>
		
        <div class="item">
            <div class="desc">
                <span class="title">Община Венец</span>
            </div>
        </div>

        <div class="item">
            <div class="desc">
                <span class="title">Община Ветово</span>
            </div>
        </div>

	<div class="item">
            <div class="desc">
                <span class="title">Община Видин</span>
            </div>
        </div>
		
	<div class="item">
            <div class="desc">
                <span class="title">Община Враца</span>
            </div>
        </div>
		
	<div class="item">
            <div class="desc">
                <span class="title">Община Върбица</span>
            </div>
        </div>
		
	<div class="item">
            <div class="desc">
                <span class="title">Община Генерал Тошево</span>
            </div>
        </div>
		
	<div class="item">
            <div class="desc">
                <span class="title">Община Гурково</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Две могили</span>
            </div>
    </div>
		
	<div class="item">
            <div class="desc">
                <span class="title">Община Девин</span>
            </div>
    </div>
		
	<div class="item">
            <div class="desc">
                <span class="title">Община Долна Митрополия</span>
            </div>
        </div>
		
	<div class="item">
            <div class="desc">
                <span class="title">Община Долни Дъбник</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Дряново</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Етрополе</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Иваново</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Каварна</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Копривщица</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Крумовград</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Крушари</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Кубрат</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Маджарово</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Момчилград</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Невестино</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Николаево</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Никопол</span>
            </div>
        </div>
	<div class="item">
            <div class="desc">
                <span class="title">Община Опан</span>
            </div>
        </div>
    <div class="item">
            <div class="desc">
                <span class="title">Община Перущица</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Пирдоп</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Раднево</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Разлог</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Роман</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Рудозем</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Русе</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Свиленград</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Септември</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Ситово</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Сопот</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Стамболово</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Стралджа</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Сунгурларе</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Твърдица</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Тервел</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Тополовград</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Трън</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Хайредин</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Хитрино</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Челопеч</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Чипровци</span>
            </div>
        </div>
       <div class="item">
            <div class="desc">
                <span class="title">Община Шабла</span>
            </div>
        </div>
                 



    </div>
</div>
<!-- -->
