<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEDeliveryIntegrationService" closeTimeout="00:03:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IEDeliveryIntegrationService1" messageEncoding="Mtom">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IEDeliveryIntegrationService2" closeTimeout="00:03:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://edelivery-test.egov.bg/Services/EDeliveryIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEDeliveryIntegrationService" contract="EDeliveryClient.IEDeliveryIntegrationService" name="BasicHttpBinding_IEDeliveryIntegrationService" />
            <endpoint address="https://edelivery-test.egov.bg/Services/EDeliveryIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEDeliveryIntegrationService1" contract="EDeliveryClient.IEDeliveryIntegrationService" name="BasicHttpBinding_IEDeliveryIntegrationService1" />
            <endpoint address="https://edelivery.egov.bg/Services/EDeliveryIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEDeliveryIntegrationService2" contract="EDeliveryProductionClient.IEDeliveryIntegrationService" name="BasicHttpBinding_IEDeliveryIntegrationService2" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>